.navbar{
    background-color: #59759C;
    a{
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 10px;
        margin-right: 10px;
        border: solid 2px black;
        background-color: whitesmoke;
        color: black;
        font-size: 18px;
        font-weight: 700;
    }
}