.joven-img{
    width: 200px;
    height: 200px;
    border: solid 2px;
    transition: 0.8s;
    &:hover{
        transform:skewX(20deg);
    }
    
}

.personal-img{
    width: 200px;
    height: 200px;
    border: solid 2px;
    transition: 0.8s;
    &:hover{
        transform:skewX(20deg);
    }
    
} 

.familiar-img{
    width: 200px;
    height: 200px;
    border: solid 2px;
    transition: 0.8s;
    &:hover{
        transform:skewX(20deg);
    }
    
}

.plan1 , .plan2 , .plan3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}


h4{
    font-size: 24px;
    font-weight: 800;
    margin-left: 16px;
    margin-right: 16px;
}
