.joven-img{
    @include planes-img;
}

.personal-img{
    @include planes-img;
} 

.familiar-img{
    @include planes-img;
}

.plan1 , .plan2 , .plan3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}


h4{
    font-size: 24px;
    font-weight: 800;
    margin-left: 16px;
    margin-right: 16px;
}
